
<footer class="hm-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="d-lg-flex align-items-start">
                    <div class="hm-left-footer">
                        <div>
                            <a href="">
                                <img src="">
                            </a>
                        </div>
                        <div class="d-flex">
                            <ul>
                                <li>
                                    <p class="p2 semibold white">Su di noi</p>
                                </li>
                                <li>
                                    <a href='{{ .Site.BaseURL }}/cookie-policy' class="p2 regular gray-2">Cookie Policy</a>
                                </li>
                                <li>
                                    <a href='{{ .Site.BaseURL }}/terms-condition' class="p2 regular gray-2">Termini e Condizioni</a>
                                </li>
                                <li>
                                    <a href='{{ .Site.BaseURL }}/privacy-policy' class="p2 regular gray-2">Privacy Policy</a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <p class="p2 semibold white">Esplora</p>
                                </li>
                                <li>
                                    <a href="" class="p2 regular gray-2">Home</a>
                                </li>
                                <li>
                                    <a href="" class="p2 regular gray-2">Video</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ml-auto hm-right-footer">
                        <ul class="hm-social">
                            <p class="p2 semibold white">Social</p>
                            <li>
                                <a target="_blank" href="https://www.facebook.com/pages/Tuttocampo/80168648670">
                                    <i class="fab fa-facebook-square gray-2"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.instagram.com/tuttocampo/">
                                    <i class="fab fa-instagram gray-2"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://twitter.com/tuttocampo">
                                    <i class="fab fa-twitter gray-2"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.tiktok.com/@tuttocampo.it">
                                    <i class="fab fa-tiktok gray-2"></i>
                                </a>
                            </li>
                            <!-- <li>
                                <a>
                                    <i class="fab fa-youtube gray-2"></i>
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div class="hm-bottom-footer">
                    <p class="p2 regular gray-2">@ 2022, Young Talent, tutti i diritti sono riservati</p>
                </div>
            </div>
        </div>
    </div>
</footer>