<!-- js -->
<script type="text/javascript" src='{{ "js/jquery.min.js" | absURL }}'></script>
<script type="text/javascript" src='{{ "js/bootstrap.min.js" | absURL }}'></script>
<!-- css -->
<link rel="apple-touch-icon-precomposed" href="{% static 'img/favicon/apple-touch-icon.png' %}" />
<link rel="icon" type="image/png" href='{{ "img/favicon/favicon-32x32.png" | absURL }}' sizes="32x32" />
<link rel="icon" type="image/png"  href='{{ "img/favicon/favicon-16x16.png" | absURL }}' sizes="16x16" />
<link rel="stylesheet" href='{{ "css/bootstrap.min.css" | absURL }}'>
<link rel="stylesheet" href='{{ "fonts/webfonts/all.min.css" | absURL }}' >
<link rel="stylesheet" href='{{ "fonts/poppins/poppins.css" | absURL }}' >
<link rel="stylesheet" href='{{ "css/owl.carousel.min.css" | absURL }}' >
<link rel="stylesheet" href='{{ "css/owl.theme.default.min.css" | absURL }}' >
<link rel="stylesheet" href='{{ "css/hwmedia.css" | absURL }}'>
<!-- css -->