<div class="hm-sidebar d-none">
    <div class="d-lg-none d-block">
        <div class="top">
            <a href="{{ .Site.BaseURL }}" class="close_explore">
                <i class="fal fa-arrow-left"></i>
            </a>
            <img src='{{ "img/tuttocampo-tv.svg" | absURL }}'>
        </div>
    </div>
    <div class="d-flex align-items-center">
        <div class="hm-fist-section hm-section">
            <div class="content">
                <div class="clearfix">
                    <div class="dropdown hm-dropdown hm-dropdown-simple" id="region">
                        <p class="dropdown-toggle hm-dropdown-toggle" type="button" id="drop_region" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Regione
                        </p>
                        <div class="dropdown-menu hm-dropdown-menu" aria-labelledby="drop_region">
                            <div class="content">
                                <ul id="region_list">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="dropdown hm-dropdown hm-dropdown-simple show d-none" id="province">
                        <p class="dropdown-toggle hm-dropdown-toggle" type="button" id="drop_province" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Provincia
                        </p>
                        <div class="dropdown-menu hm-dropdown-menu show" aria-labelledby="drop_province">
                            <div class="content">
                                <ul id="province_list">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="dropdown hm-dropdown hm-dropdown-simple show d-none" id="championship">
                        <p class="dropdown-toggle hm-dropdown-toggle" type="button" id="drop_championship" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Campionato
                        </p>
                        <div class="dropdown-menu hm-dropdown-menu show" aria-labelledby="drop_championship">
                            <div class="content">
                                <ul id="championship_list">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="dropdown hm-dropdown hm-dropdown-simple show d-none" id="category">
                        <p class="dropdown-toggle hm-dropdown-toggle" type="button" id="drop_category" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Categoria
                        </p>
                        <div class="dropdown-menu hm-dropdown-menu show" aria-labelledby="drop_category">
                            <div class="content">
                                <ul id="category_list">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hm-sidebar-overlay"></div>