{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
<div class="container-fluid" id="error">
  <div class="row justify-content-center">
      <div class="d-flex flex-column col-xl-4 col-lg-5 col-md-8 col-12 text-center align-items-center">
          <h1 class="regular green tourney">404</h1>
          <h5 class="bold mb-2" i18n>Oops! Non preoccuparti!</h5>
         <h6 class="regular gray mb-40">Non riusciamo a trovare la pagina che stai cercando!</h6>
          <button class="hm-button half-top-margin">Torna alla home</button>
      </div>
  </div>
</div>
{{ end }}