{{ $data := getJSON "https://api.tuttocampo.tv/api/v1/it/list?offset=0&order=date.desc&category=&tag=&championship=&group=&team=" }}

<div class="hm-main-slider-dots">
    {{ range $data.data.widgets }}
        {{ if .items }}
        {{ if gt (len .items) 0 }}
            <a href="">
                <div class="hm-card-event">
                    <div class="top back-img-16-9-center" style="background-image: url({{.image}});">
                        {{ if .live}}
                        <div class="hm-badge-live">
                            <p class="p3 white semibold uppercase">LIVE</p>
                        </div>
                        {{ end }}
                        {{ if .top_right_badge}}
                        <div class="hm-badge-top d-flex align-items-center">
                            <i class="fas fa-eye"></i>
                            <p class="p3 white regular">{{.text}}</p>
                        </div>
                        {{ end }}
                        <i class="fas fa-play-circle"></i>
                    </div>
                    <div class="content">
                        <div class="d-flex align-items-start">
                            {{ if .logo_team}
                                <div class="hm-logo-team">
                                    <img src="{{.image}}">
                                </div>
                            {{ end }}
                            <div>
                                <div class="d-flex align-items-center info-result">
                                    <div class="name-team">
                                        <p class="p2 semibold white">{{.overtitle}}</p>
                                        <p class="p2 semibold white">{{.title}}</p>
                                    </div>
                                </div>
                                <p class="p3 semibold gray">{{.subtitle}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {{ end }}
        {{ end }}
    {{ end }}
</div>
