{{ define "video" }}

{{ $data := getJSON "https://api.tuttocampo.tv/api/v1/it/list?offset=0&order=date.desc&category=&tag=&championship=&group=&team=" }}

<div id="main-widgets">
    
    {{ range $data }}
        {{ if .items }}
        {{ if gt (len .items) 0 }}
            {{ if eq .widget "Slider" }}
                {{ < slider  Object=$data > }}    
            {{ end }}
            {{ if eq .widget "HighlightCarousel"}}
                {{ < highlights  Object=$data > }}    
            {{ end if }}
        {{ end }}
        {{ end }}
    {{ end }}
</div>

{{ end }}
